.title{
    -fx-font-size: 40px;
    -fx-font-weight: 700;
    -fx-font-fill: #000000;
}

.description{
    -fx-font-size:20px;
    -fx-font-weight:600;
    -fx-font-fill: #000000;
}

.dynasty {
    -fx-font-size:20px;
    -fx-font-weight:700;
    -fx-cursor: hand;
}

.content{
    -fx-font-size:20px;
}

.image{
    -fx-max-width: 400px;
}

.tree-view-title{
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}

.link-button{
    -fx-border: none;
    -fx-outline: none;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight:600;
    -fx-cursor: hand;
}