.primary-background{
    -fx-background-color: #FAF5ED;
}

.border-pane-background{
    -fx-background-color: #FAF5ED;
}

.menu-bar{
    -fx-background-color: inherit;
}

.menu-item{
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-font-fill: rgba(13, 11, 11, 0.75);
    -fx-cursor: hand;
}

.menu-item-active{
    -fx-font-weight: 700;
    -fx-font-fill: #0D0B0B;
}

.search-box{
    -fx-outline: none;
    -fx-background-color: transparent;
}

.header-button{
    -fx-cursor: hand;
}

.relic-title{
    -fx-font-size: 40px;
    -fx-font-weight: 700;
    -fx-font-fill: #000000;
}

.relic-description{
    -fx-font-size:20px;
    -fx-font-weight:600;
    -fx-font-fill: #000000;
}

.relic-content{
    -fx-font-size:20px;
}

.relic-image{
    -fx-max-width: 400px;
}

.tree-view-title{
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}

.relic-link-button{
    -fx-border: none;
    -fx-outline: none;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight:600;
    -fx-cursor: hand;
}